<h1>Contact</h1>

<h3><%= link_to "Major Produce", "http://www.majorproduce.com" %></h3>
<p>Fresh from the greenhouse to your house!</p>

<p>Located just 10 miles south of Scottville.</p>

<p>Check us out on <%= link_to "Facebook", "https://www.facebook.com/majorproduce" %>!</p>

<p>phone: 231.873.5281<br/>
fax: 231.873.8808</p>

<p>9476 N. 120th Ave.<br/>
Hart, MI 49420</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9476+N+120th+Ave,+Hart,+MI+(major+produce)&amp;aq=0&amp;oq=9476+N.+120th+Ave.+Hart,+MI+49420&amp;sll=42.765954,-86.107006&amp;sspn=0.090106,0.104027&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=9476+N+120th+Ave,+Hart,+Michigan+49420&amp;ll=43.81509,-86.258245&amp;spn=0.01107,0.013003&amp;z=14&amp;iwloc=r0&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9476+N+120th+Ave,+Hart,+MI+(major+produce)&amp;aq=0&amp;oq=9476+N.+120th+Ave.+Hart,+MI+49420&amp;sll=42.765954,-86.107006&amp;sspn=0.090106,0.104027&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=9476+N+120th+Ave,+Hart,+Michigan+49420&amp;ll=43.81509,-86.258245&amp;spn=0.01107,0.013003&amp;z=14&amp;iwloc=r0" style="color:#0000FF;text-align:left">View Larger Map</a></small>