<h1>Contact</h1>

<h3><%= link_to "Major Produce", "http://www.majorproduce.com" %></h3>
<p>Fresh from the greenhouse to your house!</p>

<p>Located just 10 miles south of Scottville.</p>

<p>Check us out on <%= link_to "Facebook", "https://www.facebook.com/majorproduce" %>!</p>

<p>9476 N. 120th Ave.<br/>
Hart, MI 49420</p>

<p>p: 231.873.5281<br/>
f: 231.873.8808</p>