<% if user_signed_in? %>
	<h1>You are logged in!</h1>
	<p>We will be adding the ability to upload your own images and questions about your own plants.</p>
<% else %>
	<div class="hero-unit">
		<div>
			<img class="logo-home-page" src="assets/MajorProduceLogo.png" alt="Major Produce Geranium">
		</div>
		<div>
			<h1>The Plant Database</h1>
			<p class="top-paragraph">
				You've found the home page for the
				<%= link_to "Major Produce", "http://www.majorproduce.com" %>
				Plant Database.
			</p>

			<p>Browse our collection of plants to see information about each plant's type, botanical name, cultivar, and common name, as well as images and stock status.</p>

			<p>Or submit your own plant images for help in identifying the plant, disease or issues your plant is having. Just sign in for the option to share images and ask questions.</p>

			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
		</div>
	</div>
<% end %>