<h1>All Plants at Major Produce</h1>

<div id="plants">
  <%= render @plants %>
</div>

<br />
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'New Plant', new_plant_path %>
    <% end %>
<% end %>

