/* Change the Font */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

/*
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: gray;
$navbarBackground: gray;
*/

@import 'bootstrap';

body { margin-top: 60px; }
h1, h2, h3, h4, h5, h6, .brand { font-family: "Permanent Marker"; }

.logo-home-page {
  height: 265px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
}

.top-paragraph { margin-top: 15px; }

.btn { margin-top: 30px; }

.footer {
	margin-top: 50px;
	color: $grayLight;
	a { color: gray; }
}

#botanical_name { margin-top: 10px; font-size: 1.25em; }

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

/*---- END CAROUSEL -----*/

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    diplay: block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

.common_name { margin-bottom: 5px; }

#botanical_name { margin-top: 10px; }

/*----- END JQUERY MASONRY -----*/

@import 'bootstrap-responsive';