/* Change the Font */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

/*
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: gray;
$navbarBackground: gray;
*/

@import 'bootstrap';

body { margin-top: 60px; }
h1, h2, h3, h4, h5, h6, .brand { font-family: "Permanent Marker"; }

.logo-home-page {
  height: 265px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
}

.top-paragraph { margin-top: 15px; }

.btn { margin-top: 30px; }

.footer {
	margin-top: 50px;
	color: $grayLight;
	a { color: gray; }
}

#plant_pin_text { margin-top: 10px; font-size: 1.15em; }

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    diplay: block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

#botanical_name { margin-top: 10px; }

/*----- END JQUERY MASONRY -----*/

@import 'bootstrap-responsive';